/.mixin.out/
/asm/
/astralsorcery/
/betweenlands_gallery/
/config/jei/bookmarks.ini
/crash-reports/
/datapacks/
/discordsuite/
/downloads/
/fonts/
/journeymap/
/local/
/logs/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/saves/
/shaderpacks/
/snapshots-server/
/tv-cache/
/woot/
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
OpenComputersMod-1.8.9a-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.9a-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.9a-54-libjnlua54-windows-x86_64.dll
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json