/.mixin.out/
/asm/
/astralsorcery/
/betweenlands_gallery/
/config/jei/bookmarks.ini
/crash-reports/
/discordsuite/
/downloads/
/fonts/
/journeymap/
/local/
/logs/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/saves/
/shaderpacks/
/snapshots-server/
/tv-cache/
/woot/
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
OpenComputersMod-1.7.7+5413028-lua52-native.64.dll
OpenComputersMod-1.7.7+5413028-lua53-native.64.dll
options.txt
servers.dat
usercache.json
usernamecache.json